<div id="top-ba">
    <a routerLink="/home">
        <h1 id="app-heading">Luthando Schools Support</h1>
    </a>
    <a routerLink="/provide-support">
        <button id="provide-support-button">Provide Support</button>
    </a>
    <a routerLink="/make-post">
        <button id="make-post-button">Make Post</button>
    </a>
    <a routerLink="/register-organisation">
        <button id="register-organisation-button">register Organisation</button>
    </a>
    <a routerLink="/register-school">
        <button id="register-school-button">Register School</button>
    </a>
    <a routerLink="/register-user">
        <button id="register-user-button">Register User</button>
    </a>
    <a routerLink="/view-profile">
        <button id="view-profile-button">View Profile</button>
    </a>

</div>
