<br>
<br>



<div class="flex-container">
    
    <div style="flex-basis: 200px">
        <h3>Find Causes</h3>
    </div>
    
    <div class="dropdown-menu-flex" style="flex-basis: 400px">
        <h3>Dropdown Menus Here</h3>
        <div id="cause-selector">
            <a>
                <label for="lang">Location</label>
                <input id="input">
            </a>
            <a>   
                    <label>Type of Cause</label>
                    <select name="causes">
                      <option value="donation">Donation</option>
                      <option value="services">Services</option>
                      <option value="other-cause">Other</option>
                    </select>
            </a>
            <a>
                <label>Gender of Pupils</label>
                <select name="schools">
                    <option value="donation">Boys</option>
                    <option value="services">Girls</option>
                    <option value="donation">Mixed</option>
                  </select>
            </a>
            <a>
                    <label for="Begins">Begins:</label>
                    <input type="date" id="Begins" name="Begins">
                    <label for="Deadline">Deadline:</label>
                    <input type="date" id="Deadline" name="Deadline">
            </a>     
        </div>
    </div>

    <div class="causes">
        <h3>Causes and their images</h3>
        
        <br>
        <div>1</div>
        <div>2</div>
    </div>

</div>